* {
    margin: 0;
    padding: 0;
}
main {
    width: 50%;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 20px;
}
#login-form, #register-form{
    text-align: center;
}
#logo{
    text-align: center;
}
#logo-img{
    width: 200px;
}