@charset "UTF-8";

:root {
    --amarelo1: #FFE191;
    --amarelo2: #F0C44D;
    --amarelo3: #A37700;

    --azul1: #5088F0;
    --azul2: #1546A3;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
}

/* Estilos para o cabeçalho */
header {
    background-color: #8B0000; /* Cor vermelha */
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #FFF; /* Cor branca */
    margin: 0;
    font-size: 2em; /* Tamanho de fonte */
    text-transform: uppercase; /* Tudo em maiúsculas */
    letter-spacing: 3px; /* Espaçamento entre letras */
}

/* Estilos para o menu de navegação */
header nav {
    background-color: #FFF; /* Cor branca */
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    border-radius: 10px; /* Borda arredondada */
}

header nav ul {
    list-style: none; /* Remover marcadores de lista */
    margin: 0;
    padding: 0;
    display: flex; /* Exibir como flex */
    justify-content: center; /* Alinhar no centro */
}

header nav ul li {
    margin: 0 10px; /* Margem entre itens */
}

header nav ul li a {
    color: #8B0000; /* Cor vermelha */
    text-decoration: none; /* Remover sublinhado */
    font-size: 1.2em; /* Tamanho de fonte */
    text-transform: uppercase; /* Tudo em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
}

/* Estilo para o link ativo */
header nav ul li a.active {
    color: #FFF; /* Cor branca */
    background-color: #8B0000; /* Cor vermelha */
    padding: 10px;
    border-radius: 10px; /* Borda arredondada */
}

/* 
    /* Estilo para a barra de pesquisa */
    #search-form {
        display: flex; /* Exibir como flex */
        align-items: center; /* Alinhar itens no centro */
        margin: 20px 0; /* Margem acima e abaixo */
    }

    /* Estilo para o campo de entrada */
    #search-input {
        flex: 1; /* Ocupar todo o espaço disponível */
        padding: 10px; /* Espaçamento interno */
        border: none; /* Sem borda */
        border-radius: 20px; /* Borda arredondada */
        font-size: 1.2em; /* Tamanho de fonte */
    }

    /* Estilo para o botão */
    #search-form button {
        padding: 10px 20px; /* Espaçamento interno */
        border: none; /* Sem borda */
        border-radius: 20px; /* Borda arredondada */
        background-color: #8B0000; /* Cor vermelha */
        color: #FFF; /* Cor branca */
        text-transform: uppercase; /* Tudo em maiúsculas */
        letter-spacing: 2px; /* Espaçamento entre letras */
        font-size: 1.2em; /* Tamanho de fonte */
        cursor: pointer; /* cursor de mãozinha */
        transition: background-color 0.2s ease-in-out; /* transição suave */
    }

    /* Estilo para o botão quando pressionado */
    #search-form button:active {
        background-color: #FFF; /* Cor branca */
        color: #8B0000; /* Cor vermelha */
    }






h1, h2, h3 {
    color: #8B0000;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.recipe-card {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.recipe-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.recipe-card h3 {
    margin-top: 0;
}

.recipe-card p {
    font-size: 0.8em;
    color: #555;
}

.recipe-card .ingredients {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe-card .ingredients li {
    margin-bottom: 10px;
}
